@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto:wght@300;400&display=swap');

.nav {
    display: inline-flex;
    align-items: center;
    background: #101011;
    width: 100%;
    height: 60px;   
    justify-content: space-between;
}


.input{
    background-color: #1D1D21;
    border-radius: 4px;
}

.lefticon{
    margin-left: 65px;
}

.nain{
    display: flex;
    justify-content: center;
    margin-right: 35px;
}

.texti{
    color: #787878;
    outline: 0;
    border: 2px;
    padding: 9px 5px 5px 38px;
    height: 30px;
    background: url('../public/input.svg') no-repeat 11px 10px;
    background-size: auto 55%;
}

.dow{
    margin-left: 10px;
}

.nam {
    color: #F8F8F8;
    font-family: 'Iceland', cursive;
    font-family: 'Roboto', sans-serif;
}

.name{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 25px;
}

.logo{
    width: 65px;
    margin-top: 5px;
    margin-left: 3px;
}

.do{
    margin-left: 20px;
    cursor: pointer;
}
.matc{
    width: 48px;
}
.ty{
    width: 60px;
}

.gb{
    height: 65px;
    padding-left: 7px;
    padding-top: 8px;
}
.gla{
    width: 55px;
}
.fri{
    height: 65px;
    padding-left: 8px;
}
.fr{
    width: 55px;
}
.mat{
    height: 65px;
    padding-left: 12px;
}

.tyrnir{
    height: 65px;
    padding-left: 4px;
}
.comm{
    height: 65px;
    padding-left: 5px;
}
.com{
    width: 63px;
}

.comm:hover{
    background: #FAC704;
}

.mat:hover{
    background: #FAC704;
}

.tyrnir:hover{
    background: #FAC704;
}

.fri:hover{
    background: #FAC704;
}

.icon.is-active {
    position: fixed;
    top: 0;
    left: 70;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 70px;
	height: 100%;
	padding: 0;
    background: #101011;
    transition-duration: 0.5s;
}


.do.active{
    position: fixed;
    top: 22px;
    right: 20px;
}

.domenu{ 
    display: none;
    margin-right: 15px;
    position: fixed;
    width: 165px;
    height: 130px;
    padding: 0;
    background: #1a1a1ca6;
    border-radius: 0 0 10px 10px;
}
.us {
    margin-left: -20px;
    margin-right: 12px;
}
.se {
    margin-left: -10px;
    margin-right: 10px
}
.au{
    margin-left: -10px;
    margin-right: 10px
}
.seh{
    margin-right: 15px;
}
.setc{
    margin-right: 40px;
}

.actives{
    display: block;
}

.iconparents {
    display: flex;
    justify-content: left;
}

.message {
    display: flex;
    margin-left: 18px;
    align-items: center;
    justify-content: center;
    background: #242424;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.mess{
    width: 25px;
}

.chat{
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #242424;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.ch{
    width: 25px;
}
.messager{
    display: flex;
}
.parmenu {
    display: flex;
    justify-content: flex-end;    
}
.dowmenu {
    display: flex;
    flex-direction: column;
}

.dowmenu hr{
    width: 80%;
    margin-left: 15px;
    border: 1px solid #989898;
    margin-top: 0px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}
.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.menu_btn {
    width: 60px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.menu_btn__burger {
    width: 35px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu_btn__burger::before,
.menu_btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu_btn__burger::before {
    transform: translateY(-10px);
}

.menu_btn__burger::after {
    transform: translateY(10px);
}


.menu_btn.open .menu_btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu_btn.open .menu_btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #FAC704;
}

.menu_btn.open .menu_btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #FAC704;
}